.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar.bg-semi-white {
    background-color: rgba(252, 252, 252, 0.98);


}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-icons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    text-align: center;
    font: bold, Arial;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkolivegreen;
}
.packs {
    background-image: url(/fundo_selling.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ddd;
    
}

.pack_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;

}

.pack {
    width: 300px;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 100%;

}

.pack_thumbnail {
    width: 100%;
    height: 100%;

}

.pack_thumbnail img {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.text-pack {
    font-size: bold, normal;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.container-footer{
    background-image:url(/fundo_selling.jpg);
    background-size: cover;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: center;
    text-align: left ;
    height: 100px;
}
.contato {
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color: rgb(65, 65, 65);
}